:root {
    --first-color: #abcad5;
    --second-color: #d5933c;
    --third-color: #7f9a5a;
    --fourth-color: #15261e;
    --fifth-color: #847488;
}

body {
    font-family: "Jersey 15", sans-serif;
}

#race-track {
  width: 80vw;
  margin: 40px auto;
  border: 2px solid #333;
  padding: 20px;
  background: #e0e0e0;
  position: relative;
  min-height: 220px;
}
.horse {
  position: absolute;
  left: 0;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  transition: left 0.1s;
  transform: scaleX(-1);
}

.race-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#start-race {
  margin-bottom: 10px;
}

#winner {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}
